node_modules/
dist/
build/
__pycache__/
*.pyc
*.pyo
.env
.env.local

*.egg-info/
.venv/
venv/
*.log
.DS_Store
Thumbs.db
.idea/
.vscode/
*.swp
*.swo
data/
train.log
backend/model/weights/best_model.pth
backend/model/weights/best_model_fp16.pth
test_xray.jpg
